.layout {
    display: flex;
    width: 100%;
    min-height: 100dvh;
    box-sizing: border-box;
    padding: 11px 0.76388888%; /* 11px / 1440px */

    .navBar-container {
        width: 17.48942172%; /* 248px / 1418px */
    }

    .layout-content {
        display: flex;
        flex-direction: column;
        width: 82.51057827%; /* 1170px / 1418px */
        height: 100%;

        .content-outlet {
            display: flex;
            width: 100%;
            height: calc(100% - 80px);
        }
    }
}
