.select {
    .select-container {
        position: relative;

        .checkbox-container {
            z-index: 2;
        }

        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }

        .Done {
            background-color: var(--green-opacity);
            color: var(--green);
        }

        .InProgress {
            background-color: var(--yellow-opacity);
            color: var(--yellow);
        }

        .Todo {
            background-color: var(--blue-opacity);
            color: var(--blue);
        }

        .Review {
            background-color: var(--purple);
            color: var(--white);
        }
    }
}
